<!-- <div class='back1'> -->
  <mat-sidenav-container class="sidenav-container" fixedInViewport>
     <mat-sidenav #drawer class="sidenav" fixedInViewport
         [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
         [opened]="(isHandset$ | async) === false">
       <mat-toolbar >
         <!-- <img src="assets/image/EnrichDigital-Logo.png">
        -->
       </mat-toolbar>
       <mat-nav-list>

         <br>
         <mat-icon >home</mat-icon>Home
         <br>
         <br>
        <mat-icon >create</mat-icon>Create
         <br>
         <br>
        <mat-icon >delete</mat-icon> Delete
       </mat-nav-list>
     </mat-sidenav>
     <mat-sidenav-content >
       <mat-toolbar class="bg-color">
         <button
           type="button"
           aria-label="Toggle sidenav"
           mat-icon-button
           (click)="drawer.toggle()"
           *ngIf="isHandset$ | async">
           <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
         <img src="assets/image/EnrichDigital-Logo.png">
         <span class="bg-color1">OnGo-CMS</span>
         <Span class="linktoright"></Span>
         <mat-icon matSuffix>notification_important</mat-icon>
         <mat-icon matSuffix>settings</mat-icon>
         <mat-icon matSuffix>perm_identity</mat-icon>
         <!-- <a  href="#">Link 1</a >
         <a  href="#">Link 2</a>
         <a  href="#">Link 3</a> -->

       </mat-toolbar>

       <!-- Add Content Here -->  <app-ticket-form></app-ticket-form>
      <!--  <app-dashboard></app-dashboard> -->

     </mat-sidenav-content>
   </mat-sidenav-container>
   <!-- </div> -->
