.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
 background-color:#011b24/* 	rgb(105,105,105) */;


}

.sidenav .mat-toolbar {
  background: inherit;
  height: 10rem;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  /* position: -webkit-sticky; */
}
.linktoright{
  flex: 1 1 auto;
}
mat-nav-list {

  color: white;
  text-decoration: none;



}
/* mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
} */
.bg-color{
  background-color:/* rgb(51, 103, 214)  */#0B172A;
  position: sticky;
  top: 0;
  z-index: 1000;
  position: -webkit-sticky;
}
.sidenav mat-toolbar{
  background-color: 	#011b24;/* #3367D6!important; */

}
.bg-color1{
  color: white;
  margin-left: 5px;
}

mat-icon{
  color:white;
  display: inline-block;
  margin: 0 8px;
  size: 100%;
}
mat-toolbar{
  display: flex;
  justify-content: center;
}
img {
  display: flex;
  width: 60px;
  justify-content: center;
}

img:hover {
  cursor: pointer;
}
/* .back1{
  background-color:gray;
}
 */
/*  #drawer{ overflow: visible; } */
