<mat-card class="ticket-form">
  <form [formGroup]="complain">

      <mat-card-title class="heading1" >Create Ticket</mat-card-title>
     <!--  <div class="container">
        <mat-form-field>
          <mat-select matInput placeholder="Issue Type">
              <mat-option value="option">Create Issue</mat-option>
              <mat-option value="option">--None--</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select matInput placeholder="Activity Type">
              <mat-option value="option">--None--</mat-option>
              <mat-option value="option">xyz</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Opening on behalf of">
            <mat-option value="option">--None--</mat-option>
            <mat-option value="option">xyz</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
       <mat-card class="asset-title">
          <mat-card-title class="heading">Source</mat-card-title>

          <div class="asset-title1">
              <mat-checkbox checkedin color=warn>E-mail</mat-checkbox>
              <mat-checkbox color=warn>Social-media</mat-checkbox>
              <mat-checkbox color=warn>Phone</mat-checkbox>
              <mat-form-field>
                  <mat-select placeholder="From" formControlName="from">
                      <mat-option value="operator">Operator</mat-option>
                      <mat-option value="Customer">Customer</mat-option>
                      <mat-option value="Ground Staff">Ground Staff</mat-option>
                      <mat-option value="Maintenance Department">Maintenance Department</mat-option>

                    </mat-select>
                </mat-form-field>

          </div>
       </mat-card>


       <mat-card class="tkt-category">
          <mat-card-title class="heading">Issue</mat-card-title>

          <div class="tkt-category1">

                <mat-form-field>
                    <mat-select placeholder="Category" formControlName="category">
                        <mat-option value="UPS">UPS</mat-option>
                        <mat-option value="Chiller">Chiller</mat-option>
                        <mat-option value="HAVC">HAVC</mat-option>
                        <mat-option value="Electricity">Electricity</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-select placeholder="Facility" formControlName="facility">
                          <mat-option value="Building-A Floor-1">Building-A Floor-1</mat-option>
                          <mat-option value="Building-A Floor-2">Building-A Floor-2</mat-option>
                          <mat-option value="Building-B Floor-1">Building-B Floor-1</mat-option>
                          <mat-option value="Building-B Floor-2">Building-B Floor-2</mat-option>
                          <mat-option value="Building-B Floor-3">Building-B Floor-3</mat-option>
                          <mat-option value="Building-B Floor-4">Building-B Floor-4</mat-option>
                          <mat-option value="Building-C Floor-1">Building-C Floor-1</mat-option>
                          <mat-option value="Building-C Floor-2">Building-C Floor-2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Priority" formControlName="priority">
                            <mat-option value="High">High</mat-option>
                            <mat-option value="Medium">Medium</mat-option>
                            <mat-option value="Low">Low</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Vendors" formControlName="vendors">
                        </mat-form-field>

                      </div>
                 </mat-card>
                <!--  <mat-card class="gr-dpmt">
                    <mat-card-title class="heading">Groups & Department</mat-card-title>
                      <div class="gr-dpmt1">
                        <mat-form-field>
                          <mat-select placeholder="Department">
                              <mat-option value="option">BMS</mat-option>
                              <mat-option value="option">Chiller</mat-option>
                              <mat-option value="option">Honeywell</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Assigned Group">
                                <mat-option value="option">Group1</mat-option>
                                <mat-option value="option">Group2</mat-option>
                                <mat-option value="option">Group3</mat-option>
                              </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                              <mat-select placeholder="Assigned To">
                                  <mat-option value="option">Vendor1</mat-option>
                                  <mat-option value="option">Vendor2</mat-option>
                                  <mat-option value="option">Vendor3</mat-option>
                                </mat-select>
                            </mat-form-field>

                      </div>
                 </mat-card> -->

                 <mat-card class="tkt-descp">


                    <mat-card-title class="heading">Ticket Description & Attachment</mat-card-title>
                    <div class="tkt-descp1">

                       <mat-form-field>
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                          </mat-form-field>
                    </div>
                    <div class="file-upload">
                        <label for="file"></label>
                        <input type="file"
                           id="file"
                           (change)="handleFileInput($event.target.files)">
                       </div>
                 </mat-card>

                   <mat-card-actions align="end"  >

                      <button mat-raised-button type="submit" class="bt-submit" (click)= onSubmit(complain)>Submit</button>
                     </mat-card-actions>
      </form>

</mat-card>
