.ticket-form{
  width: 80%;
  margin: 20px auto;
  /* background-color: #0B172A;
  color: white; */
  background-color: #F6F8FA;
}
.container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container > * {
  width: 32%;
}
.bt-search{
  background-color: rgb(51, 103, 214);
  color: whitesmoke;
}
.heading{
margin-top: 0;
}
.asset-title{
  margin-top: 20px;
}
.heading{
  /* color: #3367D6; */
  font-weight: 400;
  font-size: 130%;
}
.asset-title1{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;

}
.asset-title1 > * {
  width: 45%;
}
.tkt-category{
 /*  color: #3367D6; */
  margin-top: 25px;
}
.tkt-category1{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.tkt-category1 > * {
  width: 24%;
}
.gr-dpmt{
  /* color: black; */
  margin-top: 25px;

}
.gr-dpmt1{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.gr-dpmt1 > *{
  width: 33%;
}
.tkt-descp{
  /* color: #3367D6; */
  margin-top: 25px;

}
.tkt-descp1{

  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;

}
.file-upload{


  margin-top: 25px;
}
.bt-submit{
  margin-top: 30px;
  background-color: rgb(51, 103, 214);
  color: whitesmoke;
}
/* #search input[type=search].filled
{
  width: 400px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
  height: 30px;
} */
.heading1{
  color: #3367D6;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 200%;
}
